.footer {
  background-image: url(../../images/footer_bg.png);
  height: 555px;
  max-width: 1260px;
  margin: 0 auto;

  @media (max-width: 744px) {
    height: 480px;
    max-width: 1090px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (max-width: 500px) {
    height: 200px;
    max-width: 500px;
    background-position: center center;
  }
}
