@import "../scss/variables";
@import "../scss/mixins";

.move {
  @include section;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  font-weight: 500;
  margin-bottom: $margin-bottom-desc;

  @media (max-width: 500px) {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 92px;
  }

  &__title {
    flex: 1;
    font-size: 64px;
    margin: 0;

    @media (max-width: 744px) {
      font-size: 48px;
    }

    @media (max-width: 500px) {
      font-size: 32px;
    }
  }

  &__text {
    flex: 1;
    text-align: justify;
    font-size: 23px;
    color: $color-white;
  }
}
